.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  overflow-y: auto;
}

.check {
  border-top: 1px solid var(--grey-white);
}

.steps {
  margin-top: 16px;
  padding-left: 16px;
  border-top: 1px solid var(--grey-white);
  border-bottom: 1px solid var(--grey-white);
}

@media (min-width: 540px) {
  .steps {
    padding-left: 32px;
  }
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
  .content {
    padding: 0 32px;
  }
  .place {
    max-width: 100%;
  }
  .check {
    border-top: 0;
    border-left: 1px solid var(--grey-white);
    min-width: 280px;
    max-width: 320px;
  }
  .content {
    min-height: 100vh;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 0 64px;
  }
  .place {
    max-width: 100%;
  }
  .content {
    padding: 0 64px;
  }
  .steps {
    padding-left: 64px;
  }
}
