.section {
  margin: 0;
}

.languageBtn {
  padding: 0;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  font-size: 13px;
  font-weight: 700;
  border: none;
  background: transparent;
  color: var(--main-text-accent);
  cursor: pointer;
  transition: 0.3s all;
}

.languageBtn:hover {
  color: var(--main-white);
  border: 1px solid var(--main-white);
}

.languageBtn:active {
  color: var(--main-text-accent);
}
