input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background: url("../../../icons/searchCleaning.png");
  margin-right: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}

.section {
  font-family: "Roboto-Light", sans-serif;
  color: var(--main-black);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.input {
  padding: 0;
  margin-left: 8px;
  font-size: 12px;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--gray-dark);
  width: 150px;
}

.input::placeholder {
  font-family: "Roboto-Light";
  color: var(--gray-dark);
}

.input:focus-visible {
  outline-offset: 0px;
  color: var(--main-black);
}

.point {
  margin-top: 5px;
}

@media (min-width: 540px) {
  .input {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .point {
    margin-top: 13px;
    font-size: 14px;
  }
  .input {
    font-size: 14px;
  }
}
