.section {
  color: var(--main-black);
  font-weight: 300;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.input {
  margin-left: 8px;
  font-size: 12px;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--grey-dark);
  width: 150px;
}

.input:focus-visible {
  outline-offset: 0px;
  color: var(--main-black);
}

.point {
  margin-top: 5px;
}

@media (min-width: 540px) {
  .input {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .point {
    margin-top: 13px;
    font-size: 14px;
  }
  .input {
    font-size: 14px;
  }
}
