.section {
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto-Bold", sans-serif;
  overflow-x: auto;
}

.text {
  margin: 0;
  cursor: default;
  font-size: 12px;
  color: var(--main-black);
}

.stepItem {
  margin: 0;
  cursor: default;
  text-decoration: none;
  color: var(--gray-dark);
  margin-left: 6px;
  margin-right: 6px;
}

.passedPhase {
  color: var(--main-black);
  cursor: pointer;
}

.stepItem:first-child {
  margin-left: 0;
  cursor: pointer;
}

.stepItem:global.active {
  color: var(--main-text-accent);
}

.triangle {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid var(--gray-dark);
}

@media (min-width: 540px) {
  .section {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
  .stepItem {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
  .stepItem {
    margin-left: 16px;
    margin-right: 16px;
  }
  .text {
    font-size: 14px;
  }
}
