.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.burgerMenu {
  position: absolute;
  z-index: 5;
}

.nav {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: var(--main-black);
  position: absolute;

  transition: 0.5s all;
}

.navOpen {
  transition: 0.5s all;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .navOpen {
    margin-left: 62px;
    width: 50%;
  }
}

@media (min-width: 1101px) {
  .navOpen {
    margin-left: 43px;
  }
}
