.section {
  border: 1px solid var(--gray-white);
  padding: 10px 16px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.nameCar {
  margin: 0;
  font-size: 16px;
}

.price {
  color: var(--gray-dark);
  margin: 0;
  font-size: 12px;
}

.wrapperImg {
  min-width: 100%;
  display: flex;
  justify-content: end;
}

.img {
  width: 250px;
  min-height: 100px;
}

@media (min-width: 768px) {
  .section {
    min-height: 180px;
  }
  .nameCar {
    font-size: 18px;
  }
  .price {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .img {
    width: 280px;
    min-height: 130px;
  }
}
