input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  transition: all 0.5s;
  opacity: 0;
  margin-left: 0;
  cursor: pointer;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
.section {
  margin-top: 20px;
  font-family: "Roboto-Light", sans-serif;
  color: var(--main-black);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.title {
  margin: 0;
  margin-bottom: 12px;
}

.clearBtn {
  position: absolute;
  right: 30px;
  border: none;
  background: transparent;
  margin-bottom: 10px;
  cursor: pointer;
}

.clearBtn:before,
.clearBtn:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background: #121212;
}

.clearBtn:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clearBtn:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.input {
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  font-size: 12px;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--gray-dark);
  width: 150px;
  text-overflow: ellipsis;
}

.error {
  border-bottom: 1px solid red;
}

.inputDate:first-child {
  margin-top: 0;
}

.inputDate {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}

.input:focus-visible {
  outline-offset: 0px;
  color: var(--gray-dark);
}

@media (min-width: 540px) {
  .input {
    width: 180px;
  }
}

@media (min-width: 768px) {
  .section {
    margin-top: 25px;
  }
  .title {
    margin-bottom: 14px;
  }
  .inputDate {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-top: 32px;
  }
  .title {
    margin-bottom: 16px;
  }
  .inputDate {
    margin-top: 10px;
  }
  .input {
    font-size: 14px;
  }
}
