.section {
  margin-top: 15px;
}

.checkInfo {
  padding: 0 16px;
}

.titleCheck {
  margin: 0;
  margin-bottom: 25px;
  text-align: right;
}

.price {
  margin-top: 16px;
}

.checkButton {
  margin-top: 32px;
}

@media (min-width: 540px) {
  .checkInfo {
    padding: 0 32px;
  }
  .checkButton {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-top: 32px;
    margin-left: 32px;
  }
  .checkInfo {
    padding: 0;
  }
  .price {
    margin-top: 32px;
  }
}
