.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Roboto-Regular";
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
}

.blockButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-bottom: 15px;
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: var(--main-white);
  cursor: pointer;
}

.confirm {
  background: var(--main-accent);
}

.confirm:hover {
  background: var(--main-accent-hover);
}

.confirm:active {
  background: var(--main-accent-click);
}

.cancel {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.cancel:hover {
  background: linear-gradient(90deg, #2e1e0c 0%, #5f0a2d 100%);
}

.cancel:active {
  background: linear-gradient(90deg, #2e1e0c 0%, #470722 100%);
}

@media (min-width: 540px) {
  .blockButtons {
    flex-direction: row;
  }
  .button {
    width: 180px;
    margin: 0;
  }
  .confirm {
    margin-right: 16px;
  }
}
