:root {
  --main-text-accent: #0ec261;
  --main-text-click: #076432;
  --main-accent: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  --main-accent-hover: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  --main-accent-click: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
  --main-accent-active: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  --arrow-color-hover: rgba(14, 194, 97, 0.2);

  --main-black: #121212;
  --main-white: #fff;
  --grey-dark: #999999;
  --grey-white: #eeeeee;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Roboto-Thin";
  font-weight: 100;
  src: url("./fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

body {
  margin: 0;
  font-family: "Roboto-Regular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
