.btnCheck {
  width: 100%;
  height: 50px;
  border: 0;
  background: var(--gray-white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-white);
}

.confirmOrder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.btnCheck:not(:disabled) {
  background: var(--main-accent);
  cursor: pointer;
}

.btnCheck:not(:disabled):hover {
  background: var(--main-accent-hover);
}

.btnCheck:not(:disabled):active {
  background: var(--main-accent-click);
}

.hide {
  display: none;
}

.cancel {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-white);
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.cancel:hover {
  background: linear-gradient(90deg, #2e1e0c 0%, #5f0a2d 100%);
}

.cancel:active {
  background: linear-gradient(90deg, #2e1e0c 0%, #470722 100%);
}

@media (min-width: 540px) {
  .btnCheck {
    margin-bottom: 50px;
    width: 250px;
    height: 48px;
    border-radius: 10px;
  }
  .cancel {
    margin-bottom: 50px;
    width: 250px;
    height: 48px;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .btnCheck {
    margin-bottom: 0;
  }
  .cancel {
    margin-bottom: 0;
  }
}
