.section {
  font-size: 12px;
}

.checkItem {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.checkItem:last-child {
  margin-bottom: 0;
}

.models {
  display: none;
}

.title {
  margin: 0;
  margin-right: 8px;
  min-width: fit-content;
  max-width: max-content;
  width: 100%;
  color: var(--main-black);
}

.dotted {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px dotted var(--gray-dark);
}

.cityPickupPoint {
  display: block;
  min-width: max-content;
  margin: 0;
  padding: 0;
  margin-left: 8px;
  text-align: right;
}
.streetPickupPoint {
  display: block;
  margin: 0;
  padding: 0;
}

.text {
  display: block;
  min-width: max-content;
  color: var(--gray-dark);
}

@media (min-width: 1024px) {
  .section {
    font-size: 14px;
  }
}
